extends ../layout

block content
  a(href='/bicicletas') Volver

  br
  br
  br

  hi Nueva Bicicleta

  br
  br

  form(action='/bicicletas/create' method='post')
    label(for='id') id:
    input#id(type='text' name='id')
    br
    label(for='color') Color:
    input#color(type='text' name='color')
    br
    label(for='modelo') Modelo:
    input#modelo(type='text' name='modelo')
    br
    label(for='lat') Latitud:
    input#lat(type='text' name='lat')
    br
    label(for='lng') Longitud:
    input#lng(type='lng' name='lng')
    br
    br
    input.btn(type='submit' value='Ok')
    